@font-face {
    font-family: 'Trajan Pro';
    src: url('../assets/fonts/Trajan-Pro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


    
.transparent-card2 {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.0) !important;
    
}

body {
    background-image: url('https://c.animaapp.com/cuCqTOMO/img/untitled-2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: "Trajan Pro", serif;
    
}
p {
    font-family: 'Trajan Pro', serif;
}
h2{
    font-family: 'Trajan Pro', serif;
}

.vtext_field{
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
